/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; /* Define uma fonte padrão */
}

/* Estilos adicionais podem ser incluídos abaixo do reset */
