@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jaro:opsz@6..72&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
}
.cabecalho{
    margin: 0 0 50px 0;
    background-color: #1F212C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    color: white;
}
.div__cabecalho{
    display: flex;
    margin-left: 60px;
    height: 55px;
}
.logo{
    transition: transform 0.2s linear;
}
.logo:hover{
    transform: scale(1.15);
    text-shadow: 2px 2px 2px rgb(89, 88, 88);
}
.widgets__cabecalho{
    display: flex;
    align-items: center;
    gap: 100px;
    font-size: 20px;
    font-weight: bold;
}
.link__cabecalho{
    text-decoration: none;
    color: white;
    font-size:20px;
    transition: transform 0.2s linear;
}
.link__cabecalho:hover{
    transform: scale(1.18);
    text-shadow: 2px 2px 2px rgb(89, 88, 88);
}
.elementos__cabecalho{
    display: flex;
    gap: 20px;
    height: 30px;
    margin-right: 60px;
}
.elementos__cabecalho>a{
    transition: transform 0.2s linear; 
}
.elementos__cabecalho>a:hover{
    transform: scale(1.15);
    text-shadow: 2px 2px 2px rgb(89, 88, 88);
}
#body {
    background-color:#5C6078;
}
.pesquisa {
    width: 70%;
    background-color: #1E2134;
    height: 70px;
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.pesquisa2::placeholder {
    font-family: "Josefin Sans", sans-serif;
    font-size: 18px;
}
.pesquisa2 {
    width: 300px;
    height: 32px;
}
.lupa {
    background-color: #5670F6;
    border: none;
    height: 32px;
    width: 30px;
}
.lupa:hover {
    background-color: lightblue;
    cursor: pointer;
}
.lupa img {
    transform: scale(3);
}
#select-style {
    border-radius: 10px;
    padding: 5px;
    width: 200px;
    text-align: center;
}
.filtros{
    display: flex;
    gap: 2px;
}
.filtros2 {
    display: flex;
}
.catalogo {
    background-color: #1e2134;
    width: 70%;
    margin-left: 15%;
    border-radius: 10px;
    padding: 25px;
    margin-top: 20px;
}
.catalogo2 {
    display: flex;
    gap: 50px;
}
.titulo {
    margin-top: 10px;
    width: 60%;
    color: white;
}
.carros {
    width: 280px;
    background-color: white;
    border-bottom-left-radius:  10px !important;
    border-bottom-right-radius:  10px !important;
    padding: 10px;
}
.descricao {
    text-decoration: none;
    color: black;
    font-size: 12px;
    flex-direction: column;
    display: flex;
    gap: 5px;
}
.imagemCarros img {
    width: 280px;
    height: 215px;
    display: flex;
    margin-top: 30px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
.subDescriçao {
    color: #998f99;
}
.data {
    color: #696977;
}
.botao {
    border-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: #1e2134;
    color: white;
    margin-left: 37px;
    font-weight: bold;
    cursor: pointer;
}

.link{
    text-decoration: none;
    color: white;
}
.rodape{
    background-color: #14151b;
    color: white;
    margin-top: 5rem;
}
.rodape__secao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding:2em 4em 1em 4em;
}
.rodape__secao__div{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}
.imagem__rodape{
    width: 20px;
}
.rodape__secao__div-texto{
    display: flex;
    align-items: center;
    gap:10px;
}
.link__rodape{
    text-decoration: none;
    color: white;
}
.direitos__autorais{
    text-decoration: none;
    color: rgba(245, 245, 245, 0.644);
}
.secao__direitos{
    text-align: center;
    border-top: 1px solid rgba(245, 245, 245, 0.644);
    padding: 10px 90px 10px 0;
}
option{
    font-family: "Josefin Sans", sans-serif;
}
@media screen and (max-width:1880px) {
    .orgPagina{
        display: inline-block;
        width: 20%;
        height: 20%;
    }
    .imagemCarros img {
        width: 110%;
        height: 100%;
        display: flex;
        margin-top: 30px;
        border-radius: 5px;
    }
    .carros {
        width: 110%;
        height: 40%;
        background-color: white;
        border-radius: 2px;
        padding: 10px;
    }
    .descricao {
        text-decoration: none;
        color: black;
        font-size: 0.7rem;
        flex-direction: column;
        display: flex;
        justify-content: s;
        gap: 5px;
    }
    .descricao__titulo{
        font-size: 1rem;
        font-weight: bold;
    }
    .botao {
        border-radius: 10px;
        width: 65%;
        height: 2rem;
        background-color: #1e2134;
        color: white;
        margin-left: 15%;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
    }
    .catalogo2{
        text-align: center;
        margin-left: 2rem;
    }
}
@media screen and (max-width:1600px){
    .filtros{
        display: flex;
    }
    #select-style {
        border-radius: 10px;
        width: 150px;
        padding:5px;
        text-align: center;
    }
    .pesquisa2{
        width: 400px;
    }
    .lupa {
        background-color: #5670F6;
        border: none;
        height: 32px;
        width: 30px;
        margin-right: 8%;
    }
}
@media screen and (max-width:1530px){

    #select-style {
        border-radius: 10px;
        width: 140px;
        padding:5px;
        text-align: center;
    }
}
@media screen and (max-width:1480px){

    #select-style {
        border-radius: 10px;
        width: 135px;
        padding:5px;
        text-align: center;
    }
    .catalogo2{
        text-align: center;
        margin-left: 1.5rem;
    }
}
@media screen and (max-width:1440px){

    #select-style {
        border-radius: 10px;
        width: 125px;
        padding:5px;
        text-align: center;
    }
}
@media screen and (max-width:1380px){

    #select-style {
        border-radius: 10px;
        width: 115px;
        padding:5px;
        text-align: center;
    }
}
@media screen and (max-width:1320px){

    #select-style {
        border-radius: 10px;
        width: 105px;
        padding:5px;
        text-align: center;
    }
    .catalogo2{
        text-align: center;
        margin-left: 0.2rem;
    }
}
@media screen and (max-width:1270px){

    #select-style {
        border-radius: 10px;
        width: 95px;
        padding:5px;
        text-align: center;
    }
    .catalogo2{
        text-align: center;
        margin-left: 0rem;
    }
}
@media screen and (max-width:1400px){
    .carros {
        width: 110%;
        height: 45%;
        background-color: white;
        border-radius: 2px;
        padding: 10px;
    }
    .orgPagina{
        display: inline-block;
        width: 20%;
        height: 300px;
    }
    .catalogo2{
        text-align: center;
        height: 330px;
    }
}